/* row = Zeile, column = Spalte */
body {
        background-color: rgb(225, 225, 225);
        font-size: 85%;
}
.form_space_around_boxes {
    margin: 0.1cm;
}

.login_page {
    background-color: white;
    padding: 5%;
    text-align: center;
}

.register_page {
    background-color: white;
    padding: 5%;


    justify-content: center;
    text-align: center;
}

form {
    justify-content: center;

}
.footer {
    background-color: white;
    color: #5eb6a1;
    position: fixed;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    padding-top: 0.3cm;

}

.place_content {
    margin-top: 2cm;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3cm;
}

.profilepic {
    border-radius: 50%;
    height: 5cm;
    width: 5cm;
}

.post {
    height: 3cm;
    width: 3cm;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  ... }
