/* row = Zeile, column = Spalte */


body {
        background-color: #CCC;
}

body > * {
    background: white;
    font-size: 85%;
}

.login_page {

    padding: 5%;
    margin: 3%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 8%;
    text-align: center;
}

.register_page {
    background: white;
    background-size: 100%;
    border-radius: 8%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    padding: 5%;
    margin: 3%;
    justify-content: center;
    text-align: center;
}

form {
    justify-content: center;

}
.footer {
    grid-column-start: 1;
    grid-column-end: 8;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    background: white;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  ... }
